@import url('https://fonts.googleapis.com/css?family=Console:300,400,500,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Console' , monospace;
}

body{
    background-color: #081b29;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRigth 1s ease forwards;
    animation-delay: .4s;
}
.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover, .navbar a.active{
    color: rgb(6, 103, 141);
}

.home{
    min-height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}
.imagen{
    position: relative;
    background: url("Fondo.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.imagen::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRigth 1s ease forwards;
    animation-delay: 2.5s;
}
.home-content h1{
    position: relative;
    font-size: 50px;
    font-weight: 700;
}
.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRigth 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3{
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: rgb(6, 103, 141);
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRigth 1s ease forwards;
    animation-delay: 1.5s;
}

.home-content p{
    position: relative;
    font-size: 15px;
}


.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRigth 1s ease forwards;
    animation-delay: 2s;
}

.home-sci{
    position: relative;
    margin-bottom: 20px;
}

.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRigth 1s ease forwards;
    animation-delay: 3s;
    z-index: 2;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(6, 103, 141);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(6, 103, 141);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    background: rgb(6, 103, 141);
    color: white;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(6, 103, 141);
    z-index: -1;
    transition: .5s;
}
.home-sci p{
    position: relative;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
}
.home-sci a:hover::before{
    width: 100%;
}

footer{
    background: #081b29;
    color: rgb(6, 103, 141);
    text-align: center;
}

@keyframes showRigth{
    100%{
        width: 0%;
    }
}